.gifBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
}

.gif {
    background: none;
    border: 2px solid;
    font: inherit;
    border-radius: 10px;
    color: #000000;
    margin: 5px;
    padding: 20px;
    width: 45%;
}

.gif img {
    object-fit: contain;
}

a {
    color: #09f;
    font-size: 25px;
    text-decoration: none;
}