.gifBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.gif {
    background: none;
    border: 1px solid;
    font: inherit;
    border-radius: 10px;
    color: #000000;
    margin: 1px;
    padding: 5px;
    width: 30%;
}

.gif img {
    object-fit: contain;
    height: 30%;
}

a {
    color: #09f;
    font-size: 25px;
    text-decoration: none;
}