.App {
  text-align: center;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: white;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px;
}

.titleClass {
  text-align: center;
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  padding: 8px 16px;
  border-radius: 10px;
  margin-top: 5px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.buttonForm {
  background: none;
  border: 2px solid;
  font: inherit;
  padding: 8px 16px;
  border-radius: 10px 0 0 10px;
  margin: 0%;
}

.form {
  background-color: #282c34;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding: 10px;
}

.inputForm {
  border-radius: 0 10px 10px 0;
  background: none;
  border: 2px solid;
  font: inherit;
  padding: 4px 16px;
}