.App {
  text-align: center;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: white;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px;
}

.titleClass {
  text-align: center;
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  margin: 0.5em;
}
